<header class="bg-white dark:bg-gray-900">
  <%= render "nav" %>

  <div class="container mx-auto px-6 py-16 pt-28 text-center">
    <div class="mx-auto max-w-lg">
      <h1 class="text-3xl font-bold text-gray-800 dark:text-white md:text-4xl">Schedule with ease, automate with precision — Take control of time today.</h1>

      <p class="mt-6 text-gray-500 dark:text-gray-300">Effortlessly schedule and automate tasks, transforming how you manage time with precision.</p>

      <div class="mx-auto mt-6 w-full max-w-sm rounded-md border bg-transparent focus-within:border-blue-400 focus-within:ring focus-within:ring-blue-300 focus-within:ring-opacity-40 dark:border-gray-700 dark:focus-within:border-blue-300">
        <%= render "lead_form" %> 
      </div>
    </div>

    <div class="mx-auto mt-16 max-w-screen-xl">
      <h3 class="text-5xl font-bold text-cyan-800 mt-5">15925</h3> 
      <h2 class="text-2xl font-semibold text-gray-800 mt-5">Tasks running concurrently</h2>
    </div>
  </div>
</header>
