<div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
  <div class="max-w-md w-full p-6">
    <h1 class="text-3xl font-semibold mb-6 text-black text-center">Sign In</h1>
    <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">Join to Our Community with all time access and free </h1>

    <%= render "external_providers" %> 

    <div class="mt-4 text-sm text-gray-600 text-center">
      <p>or with email</p>
    </div>
    
    <%= render "form" %>

    <div class="mt-4 text-sm text-gray-600 text-center">
      <p>Does not have an account? <%= link_to "Sign up here", sessions_signup_path, class: "text-cyan-600 hover:underline" %>
      </p>
    </div>
  </div>
</div>
